<% include ../fragments/header %>
<body>
<form name="product" action="/edit" method="post">
    <div class="form-group">
        <label for="id">Id товара</label>
        <input type="text" name="id" value="<%=product.id%>" readonly class="form-control" id="productName" placeholder="Название товара">
    </div>
    <div class="form-group">
        <label for="productName">Название товара</label>
        <input type="text" name="name" value="<%=product.name%>" class="form-control" id="productName" placeholder="Название товара">
    </div>
    <div class="form-group">
        <label for="productImg">Ссылка на картинку товара</label>
        <input type="text" name="img" value="<%=product.img%>" class="form-control" id="productImg" placeholder="Ссылка на картинку товара">
    </div>
    <div class="form-group">
        <label for="productSex">Категория</label>
        <input type="text" name="sex" value="<%=product.sex%>" class="form-control" id="productSex" placeholder="Категория">
    </div>
    <div class="form-group">
        <label for="productPrice">Цена товара</label>
        <input type="text" name="price" value="<%=product.price%>" class="form-control" id="productPrice" placeholder="Цена товара">
    </div>
    <input type="submit" class="btn btn-primary">Submit</input>
</form>
</body>
