<%- include ("../fragments/header") %>

<body>
    <ul>
        <% (typeof products != 'undefined' ? products : []).forEach(function(product) { %>
        <li>
            <span>ID товара: <%= product.id %></span>
            <span>Название: <%= product.name %></span>
            <span>Ссылка на картинку: <%= product.img %></span>
            <span>Категория: <%= product.sex %></span>
            <span>Цена товара: <%= product.price %></span>
            <a type="button" class="btn btn-info" href="/edit?id=<%= product.id %>">Edit</a>
            <button type="button" class="btn btn-secondary" onclick="removeProduct(<%= product.id %>)">Remove</button>
        </li>
        <% }); %>
    </ul>
</body>
